.venv
.env
.DS_Store
.python-version

.idea/
.vscode/

*.log
*.old
*.bak
*_

__pycache__/
data/
.github/*
.clinerules/*
.backup/
*:Zone.Identifier
example_*
test_*
*_test
*.md
!README.md
chromium-headless-shell-linux.zip
chromium-linux.zip
