name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add SSH Host Key
      run: |
        ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
        chmod 600 ~/.ssh/known_hosts # Pastikan izinnya benar

    - name: Deploy Frontend to Server
      run: |
        ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
          # Masuk ke direktori utama proyek di server
          cd combiphar
          
          # Masuk ke folder frontend dan tarik kode terbaru dari repositori frontend Anda
          cd frontend
          git pull origin main # Asumsi branch default adalah main
          
          # Kembali ke direktori utama docker-compose
          cd .. 
          
          # Hentikan dan bangun ulang hanya container frontend
          docker compose up -d --build --no-deps frontend_app
          
          # Opsional: Bersihkan image Docker lama
          docker image prune -f
        EOF